header {
    margin-top: 60px;
    padding-top: 35px;
    border-radius: 15px 15px 0px 0px;
}
header div.container-img-omelette {
    width: 600px;
    margin: auto;
    border-radius: 15px;
}

main {
    margin-top: 100px;
    width: 600px;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}